/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Signika:wght@400;500;600;700&display=swap');
@import url('https://fonts.maateen.me/siyam-rupali/font.css');

/* ===================================
common css
=====================================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

p {
  font-family: 'Poppins', 'SiyamRupali', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'SiyamRupali', 'Signika', 'kalpurush', sans-serif;
}

img {
  width: 100%;
  height: auto;
}

.my-btn {
  background-color: #eeba1f;
  text-decoration: none;
  color: black;
  padding: 1rem 2.5rem;
  border-radius: 35px;
  transition: 0.5s;
  display: inline-block;
  margin-top: 1rem;
  font-weight: bold;
  font-family: 'SiyamRupali';
}
.my-btn:hover {
  background-color: aliceblue;
  color: black;
}
.common-color {
  color: #eeba1f;
}
.sec-p {
  padding: 4rem 0rem;
}

a {
  text-decoration: none;
  font-family: 'SiyamRupali';
}

/* ==============================
Navbar style starts here
================================= */

.icon-left {
  position: relative;
}

.icon-right {
  display: none;
}

.active {
  color: #eeba1f !important;
}

.nav-link {
  color: white;
  font-weight: bolder;
  font-size: large;
  padding: 0px 1rem !important;
}

.nav-link:hover {
  color: #eeba1f;
}

i {
  transition: 0.5s;
  color: white;
}

i:hover {
  color: #eeba1f !important;
}

/* ==============================
Header style starts here
================================= */
.header {
  background: url('/images/slider3-bg.webp') no-repeat;
  background-position: 27% 50%;
  background-size: cover;
  height: 60vh;
  position: relative;
}

.header-text h3 {
  margin: 2rem 0rem;
  font-size: 2em;
}

.header-text {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  color: white;
  height: 100%;
  padding: 2rem 1rem 0 1rem;
  line-height: 2;
}

/*============================
About section style starts here
============================*/

.about-text h2 {
  font-size: 3em;
  color: #eeba1f;
}

.add-card-btn {
  border-radius: 4px;
  width: 100%;
  text-align: center;
  transition: 0.5s;
}

/* ===========================
product section style starts here
==============================*/

.review-sec {
  background: linear-gradient(rgba(238, 186, 31, 0.8), rgba(238, 186, 31, 0.8)),
    url(./images/sundorbon.jpg) no-repeat center/cover;
}

.card {
  position: relative;
  transition: 0.3s;
}

.card-img {
  background: rgba(0, 0, 0, 0.6);
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
  transition: 0.5s;
  overflow: hidden;
}

.card-img:hover {
  opacity: 1;
}

.card-img:hover.card-img i {
  opacity: 1;
  left: 75%;
}
.product-item {
  flex-wrap: wrap;
}
.card-img i {
  background-color: #eeba1f;
  padding: 1rem;
  border-radius: 10px;
  display: block;
  width: 3.3rem;
  margin: 5px;
  color: black;
  position: relative;
  left: 100%;
  opacity: 0;
  top: 30%;
}

.card-img i:hover {
  background-color: aliceblue;
  color: black !important;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}

/* ==============================

================================*/
.form input,
textarea::placeholder {
  font-family: 'SiyamRupali';
}

/* ============================================
Responsive Design
=============================================*/
@media screen and (min-width: 0) and (max-width: 576px) {
  .icon-left {
    left: 10%;
  }
  .m-xs {
    margin-top: 2rem;
    margin-left: 0 !important;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .icon-left {
    left: 15%;
  }
  .m-xs {
    margin-top: 2rem;
    margin-left: 0 !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .icon-left {
    display: none;
  }
  .icon-right {
    display: block;
  }
  .header {
    height: 100vh;
  }
  .header-text {
    background: none;
    color: black;
    width: 80%;
    position: absolute;
    top: 19%;
    right: 1%;
    font-size: larger;
  }
  .header-text h3 {
    margin: 2rem 0rem;
    font-size: 3em;
  }

  .s-img {
    width: 25%;
  }

  .about-text {
    width: 50%;
  }
  .m-xs {
    margin-top: 0px !important;
    margin-left: 0 !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header-text {
    width: 80%;
  }
  .product-item,
  .review {
    width: 80%;
    margin: auto;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .header-text {
    width: 60%;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .product-item,
  .review {
    width: 100%;
  }
}
