/*============================
About section style starts here
============================*/
.box:nth-child(even) {
  flex-direction: row-reverse;
  background-color: black;
}
.aboutText h2 {
  font-size: 3em;
  color: var(--primary-yellow);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .sImg {
    width: 25%;
  }

  .aboutText {
    width: 50%;
  }
  .mXs {
    margin-top: 0px !important;
    margin-left: 0 !important;
  }
}
