/* ===========================
  product section style starts here
  ==============================*/

.card {
  position: relative;
  transition: 0.3s;
  width: 80% !important;
  max-width: 320px !important;
}

.cardImage {
  height: 277px;
}

.cardImage img {
  height: 100%;
}

.cardImg {
  background: rgba(0, 0, 0, 0.6);
  height: 277px;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
  transition: 0.5s;
  overflow: hidden;
}

.cardImg:hover {
  opacity: 1;
}

.cardImg:hover.cardImg i {
  opacity: 1;
  left: 75%;
}
.productItem {
  flex-wrap: wrap;
}
.cardImg i {
  background-color: #eeba1f;
  padding: 1rem;
  border-radius: 10px;
  display: block;
  width: 3.3rem;
  margin: 5px;
  color: black;
  position: relative;
  left: 100%;
  opacity: 0;
  top: 34%;
}

.cardImg i:hover {
  background-color: aliceblue;
  color: black !important;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}
.cardText {
  font-size: 18px;
}

.myBtn {
  display: block;
  font-weight: bolder;
  text-align: center;
  margin-top: 1.5rem;
  font-size: larger;
  /* color: #eeba1f; */
}

@media screen and (min-width: 0) and (max-width: 576px) {
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .card {
    width: 44% !important;
    max-width: 18rem !important;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card {
    width: 18rem !important;
    max-width: 40% !important;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card {
    width: 43% !important;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card {
    width: 23% !important;
    max-width: 18rem !important;
  }
}
/*XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
